/* /////////////BANNER//////////////////// */

#contact_modal {
  display: none;
  z-index: 3;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background-color: rgba(196, 196, 196, 0.4);
  height: 255%;
  width: 100%;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  display: flex;
  justify-content: center;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.contact_button:hover {
  color: black;
  background-color: #d3573c;
}

.submit_modal {
  align-self: flex-start;
  margin-top: 1%;
}

/* ///////////////////MODALE////////////////////// */

#contact_modal {
  position: fixed;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 34.813em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
  justify-content: space-between;
  /* margin: auto; */
  z-index: 3;
  height: 41.25em;
  position: absolute;
  top: 1.3%;
  left: 22%;
}

.modal header {
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  height: 19%;
  margin-bottom: 3%;
}

.modal header img {
  cursor: pointer;
  /* margin-top: -14%; */
}

.modal header h2 {
  font-size: 60px;
  font-weight: normal;
  /* text-align: center; */
  margin: -1% 0 0 0;
  line-height: 100%;
}

form {
  display: flex;
  width: 100%;
  height: 80%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 2em;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 18%;
  align-items: self-start;
}

.divMessage {
  margin-bottom: 2%;
  height: 30%;
}

.inputMessage {
  height: 80%;

  overflow: auto;
}
form input {
  width: 100%;
  height: 50%;
  font-size: 1.5em;
  border: none;
  border-radius: 5px;
}

.photographer_banner_card {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 93%;
}

.photographer_banner_img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.photographer_banner_name {
  color: #d3573c;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  margin: 0%;
  line-height: 83px;
  font-size: 4em;
  width: 100%;
}

.banner_city {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  margin-top: 0.2em;
  margin-bottom: 1em;
  color: #901c1c;
}

.banner_tagline {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #525252;
}

/*//////////////////// DROPDOWN////////////////////// */
.dropDownContainer {
  margin-left: 6.25em;
  margin-top: 2%;
  height: 3em;
}
.dropDown {
  display: flex;
  justify-content: space-between;
  width: 15em;
}
.containerDD {
  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
  z-index: 2;
  padding: 0;
  background-color: #901c1c;
  border-radius: 4px;
}
.containerBtn {
  display: flex;
  flex-direction: column;
  /* z-index: 2; */
  padding: 0 5px;
  background-color: #901c1c;
  border-radius: 4px;
}
.containerSort {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}

.buttonDropDown {
  width: 150px;
  height: 60px;
  text-align: left;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnArrow {
  padding-top: 1.4em;
  height: 2.4em;
  margin-left: -1.5em;
  z-index: 100;
  color: white;
}

.disappear {
  display: none;
}

/*style boutons dropdown*/
#buttonDrop1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0;
}
#buttonDrop2,
#buttonDrop3 {
  border-top: 2px white solid;
  border-radius: unset;
  padding: 0 3.5em 0 0;
}

/* icone chevron */
#buttonDrop1 .fas {
  pointer-events: none;
  margin-right: 5%;
  z-index: 2;
}
.rotate {
  transition: all 500ms;
  transform: rotate(180deg);
}
