@import url("photographer.css");
@import url("lightbox.css");

/******** PHOTOGRAPHER-INDEX.HTML********/
body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}
.photographer_section a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 0%;
}
.photographer_card {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 263px;
  white-space: nowrap;
  margin-bottom: 75px;
}

.photographer_name {
  color: #d3573c;
  font-size: 2.25em;
  margin: 1.188em 0 0 0;
}

.photographer_img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.photographer_description {
  display: flex;
  flex-direction: column;
}
.photographer_description .city {
  font-size: 0.813em;
  font-weight: 400;
  color: #901c1c;
  justify-content: center;
  display: flex;
  margin: 6px 0 0 0;
}

.photographer_description .tagline {
  font-size: 0.625em;
  font-weight: bold;
  margin: 4px 0 0 0;
  text-align: center;
}

.photographer_description .price {
  font-size: 0.563em;
  text-align: center;
  margin-top: 2px;
}

/********IMAGE & VIDEO MEDIA.HTML********/

.mediaContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px 100px;
}

.containersImageCards,
.containersVideoCards {
  width: 28%;
  margin-bottom: 30px;
}

.enterLightbox {
  display: flex;
  border-radius: 5px;
}
.enterLightbox:hover {
  cursor: pointer;
}
.imageMedia,
.videoMedia {
  object-fit: cover;
  height: 300px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  transform: scale(1);
  transition: transform 0.6s linear;
}

.sousTitre {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 3px;
  font-size: 1.5em;
  color: #901c1c;
}

.titleMedia {
  text-overflow: ellipsis;
  margin: 0px;
  overflow: hidden;
  font-size: 1em;
  font-weight: normal;
  white-space: nowrap;
}
/*Heart*/
.heartLike {
  display: flex;
  align-items: baseline;
  flex-wrap: nowrap;
}

.heartButton {
  cursor: pointer;
  background: none;
  margin-left: 6px;
  color: inherit;
  padding: 0;
  border: none;
  /* padding-top: 5px; */
}

.heartButton .fas {
  font-size: 1.6em;
}

.heart {
  color: #ea2027;
}

.heart:hover {
  animation: SHeart 1s linear;
  color: #901c1c;
}
@keyframes SHeart {
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.3);
  }
  30% {
    transform: scale(1);
  }
  45% {
    transform: scale(1.3);
  }
  60% {
    transform: scale(1);
  }
}
/**********LIGHTBOX************/
/*Insérer le ccs de jsfiddle*/
